SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
    border: none;
}

QLabel#settingLabel {
    font: 33px;
    font-family: "YellowTail";
    background-color: transparent;
}
