BaseInterface,
LibraryInterface,
#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
}

QLabel#title {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    qproperty-alignment: AlignCenter;
}
