BaseInterface,
SearchInterface,
#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
}

QLabel#title {
    font-size: 66px;
    font-weight: bold;
    color: #ffffff;
    qproperty-alignment: AlignCenter;
    font-family: "YellowTail";
}
